body {
    font-family: 'Titillium Web', sans-serif;
}

img {
    margin: 1rem 0;
    width: 100%;
    height: auto;
}

section {
    border: 3px solid #279ef8;
    padding: 1rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

main {
    @extend section;
    border-color: #8eceff;

    section {
        border: none;
        padding: 0;
    }
}

.section__article--quote {
    font-family: serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;

    .row {
        display: flex;
        justify-content: center;

        .col-4 {
            width: 33%;
        }

        .col-8 {
            width: 66%;
        }

    }

    .hero-text {
        margin: 0 auto;
        font-size: 4rem;
        font-weight: 900;
        text-transform: uppercase;
    }
}

.sidebar-nav {
    @extend section;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    .sidebar-title {
        font-weight: 600;
    }

    ul {
        flex: 1 1 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-self: flex-start;
    }
}

.nav-item__nav-link {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    padding: .25rem.25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
    color: white;
    font-size: .9rem; // 1 rem causes button text to wrap
    text-decoration: none;
    width: 100%;
    display: block;
    margin: .5rem 0;
    box-sizing: border-box;

    &:hover {
        border-top-color: #28597a;
        background: #28597a;
        color: #ccc;
    }

    &:active,
    &--active {
        border-top-color: #1b435e;
        background: #1b435e;
    }
}